<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>

@main("About Us"){
 <h1>The About Us page</h1>

<ul>
  <h2>This page will contain the following:</h2>
  <h3><li>Pictures and descriptions of SU members</li></h3>
  <h3><li>Specific Information about the SU and its members</li></h3>
  <h3><li>Its services and involvements</li></h3>


</ul>
}

</body>
</html>
