
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/th.png")">
  
</head>
<body>
@main("Home"){
<h1>The home page</h1>

<ul>
  <h2>This page will contain the following</h2>
  <h3><li>Slideshow:</li></h3>
  <h3><li>Information about the SU</li></h3>
  <h3><li>event cards with a slideshow<br> and many more cool things to make<br> the website friendly and responsive</li></h3>


</ul>
}






</body>
</html>
